#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  border: 1px solid;
  border-color: aliceblue;
  display: flex;
  justify-content:center;
  text-align: center;
  width: 60vh;
  height: 40vh;
}



.content{
  margin: 20%;
}


.hard{
  border: 1px solid;
  border-color: aliceblue;
  display: flex;
  justify-content:center;
  text-align: center;
  width: 60vh;
  height: 40vh;
  background-color: red;
  color: white ;
}

.easy{
  border: 1px solid;
  border-color: aliceblue;
  display: flex;
  justify-content:center;
  text-align: center;
  width: 60vh;
  height: 40vh;
  background-color: rgb(38, 117, 31);
  color: white ;
}

.medium{
  border: 1px solid;
  border-color: aliceblue;
  display: flex;
  justify-content:center;
  text-align: center;
  width: 60vh;
  height: 40vh;
  background-color: rgb(234, 255, 0);
  color: rgb(7, 6, 6) ;
}

.purple{
  border: 1px solid;
  border-color: aliceblue;
  display: flex;
  justify-content:center;
  text-align: center;
  width: 60vh;
  height: 40vh;
  background-color: rgb(96, 32, 139);
  color: white ;
}